*{
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

main{
    font-size: 15px;
    

}

.main-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding: 50px;
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 30px;
}

.first-div .heading{
    max-width: 40%;
}

.first-div .heading h1{
    font-size: 40px;
    max-width: 70%;
    color: hsl(300, 43%, 22%);
}
.first-div .heading p{
    max-width: 90%;
    line-height: 1.2;
    color: hsl(303, 10%, 53%);
    font-weight: 700;

}
.first-div .rating{
    display: flex;
    flex-direction: column;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.first-div .rating div{
    display: flex;
    align-items: center;
    background-color: rgb(247, 228, 228);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 360px;
    background-color: hsl(300, 24%, 96%);
}

.first-div .rating div:nth-child(2){
    margin-left: 50px;
}
.first-div .rating div:nth-child(3){
    margin-left: 100px;
}


.first-div .rating div img{
    width: 14px;
    margin: 3px;
}








.second-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.second-div .box{
    background-color: rgb(230, 209, 209);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 20px;
    max-width: 360px;
    height: 240px;
    margin: 10px;
    background-color: hsl(300, 43%, 22%);

}
.second-div .box:nth-child(2){
    margin-top: 20px;
}
.second-div .box:nth-child(3){
    margin-top: 30px;
}



.second-div .box div{
    display: flex;
    align-items: center;
}

.second-div .box div img{
    border-radius: 50%;
    width: auto;
    height: 40px;
}

.second-div .box div span{
    font-size: 10px;
    line-height: 0.2;
    margin-left: 20px;
    color: hsl(0, 0%, 100%);
}

.second-div .box div span p{
    font-size: 14px;
    color: hsl(333, 80%, 67%);

}

.second-div .box > p{
    line-height: 1.2;
    color: hsl(0, 0%, 100%);
}