
body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
  
    
}

main{
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.huddle img{
    width: 160px;
    margin: 40px 0 50px 20px;

}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    width: 320px;
}

.second-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
}

.second-div h2{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-bottom: 2px;
}

.second-div p{
    line-height: 1.5;
    font-size: 18px;
    opacity: 0.8;
    font-weight: 100;
}

.second-div button{
    width: 260px;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
    color: hsl(257, 40%, 49%);
    border: 0px solid black;
}

.second-div button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}
footer{
    margin-top: 40px;
    margin-bottom: 40px;
}


footer a{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

footer a:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%) ;

}
