



body{
    width: 100%;
    height: 90%;
    margin: 0;
    background-color: #fbfbfd;
    
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #444445
    ;
    padding: 12px;
    padding-left: 8rem;
    padding-right: 8rem;
}
header a{
    color: #dededf;
    text-decoration: none;
    font-size: 13px;
}
header a i{
    font-size: 17px;
}


main{
    text-align: center;
    margin-top: 1rem;
}

main h4{
    font-size: 50px;
}

main p{
    font-size: 25px;
    margin-top: -60px;
    margin-bottom: 10px;

}

main .mainParagraph{
    margin-top: -60px;
    margin-bottom: 5rem;
}

main .mainParagraph a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(43, 43, 255);
}

main .mainParagraph a:hover{
    text-decoration: underline;
}
main .mainParagraph a:hover .biggerLogo{
    text-decoration: none;
}

.video1{
    text-align: center;

}

.video1 video{
    width: 100%;
}

.video1-Paragraph{
    margin-top: -19rem;
}

.video1-Paragraph h2{
    font-size: 50px;
    margin-bottom: -15px;
    color: white;
}

.video1-Paragraph :nth-child(2){
font-size: 20px;
color: white;

}

.video1-Paragraph :nth-child(3){
font-size: 28px;
margin-top: -10px;
margin-bottom: 10px;
color: white;
}

.video1-Paragraph :last-child button {
    border: 0 solid black;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(229, 2, 2);
}

.video1 .video1-Paragraph div.buttons button:hover{

}



.video1-Paragraph :last-child button a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

