/* body{
padding: 0;
margin: 0;
font-family: 'Hanken Grotesk', sans-serif;
}


.container{
    width: 50rem;
    margin-top: 15rem;
}

.line{
    border-radius: 2rem;
    box-shadow: 1px 4px 9px hsl(252, 100%, 67%);
}

.profile{
    background-image: linear-gradient(to top,  hsl(241, 81%, 54%),  hsl(252, 100%, 67%));
    border-radius: 2rem;
}

.result{
    color: rgb(155, 155, 155);
    font-size: 24px;
}


.circle{
   width: 200px;
   height: 200px;
   background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)
   );
   margin: auto;
   text-align: center;
   justify-content: center;
   border-radius: 50%;
}

.circle > p:first-child{
    color: white;
    font-size: 70px;
    margin-bottom: -10px;
    margin-top: 2rem;
}
.circle > p:nth-child(2){
    color: rgb(155, 155, 155);
}


.great{
    font-size: 30px;
    margin-top: 2rem;
    color: rgb(228, 228, 228);
}

.paragraph{
    color: rgb(155, 155, 155);
    margin: 3rem;
    margin-top: .5rem;
}

.summary{
    font-weight: bold;
    text-align: start;
    margin-top: 2rem;
    font-size: 1.4rem;
    margin-left: 2rem;
}

.div1{
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 97%);
    margin: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 14px;
    
}

.div2{
    color: hsl(39, 100%, 56%);
    background-color: hsl(38, 100%, 96%);
    margin: 2rem;
    margin-bottom: 1.5rem;
    padding: 14px;
    border-radius: 10px;
}
.div3{
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 96%);
    margin: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 14px;
}
.div4{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 100%, 94%);
    margin: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    padding: 14px;
    
}

.btn{
    background-color:hsl(224, 30%, 27%);
    color: white;
    width: 80%;
    margin: 1.5rem;
    margin-top: .5rem;
    padding: .7rem;
    border-radius: 25px;
}
.btn:hover{
    background-color:hsl(234, 85%, 45%) ;
    color: white;
} */


body{
    padding: 0;
    margin: 0;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Hanken Grotesk", sans-serif;
}

.general-div{
    display: flex;
    width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow:  0.1px 0.1px 15px  blue;
}


.general-div .result-part{
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    display: flex;
    flex-direction: column;
    

}


.general-div .result-part .h-2{
    text-align: center;
    color: white;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 20px;
}

.general-div .result-part .circle{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin: 20px 50px;
    padding: 20px;
    background-image: linear-gradient(to top,  hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    
    
}

.general-div .result-part .circle h2{
    font-size: 50px;
}

.general-div .result-part .circle p{
    margin-top: -16px;
    opacity: 0.5;
}

.general-div .result-part .first-p{
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: -10px;

}

.general-div .result-part .second-p{
    text-align: center;
    margin: -10px 20px;
    color: white;
    opacity: 0.7;
    font-size: 15px;
}




.summary-part{
    width: 50%;
    padding: 20px;
}


.summary-part .percents{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}

.summary-part .percents:first-child{
    background-color: #fef6f5;
}

.summary-part .percents:first-child p:nth-child(1){
    color: hsl(0, 100%, 67%);
}
.summary-part .percents:nth-child(2){
    background-color: #fefaf0;
}

.summary-part .percents:nth-child(2) p:nth-child(1){
    color: hsl(39, 100%, 56%);
}

.summary-part .percents:nth-child(3){
    background-color: #f3fbfa;
}

.summary-part .percents:nth-child(3) p:nth-child(1){
    color: hsl(166, 100%, 37%);
}
.summary-part .percents:nth-child(4){
    background-color: #f3f3fd;
}

.summary-part .percents:nth-child(4) p:nth-child(1){
    color: hsl(234, 85%, 45%);
}

.summary-part .btn{
    display: block;
    background-color: #303b59;
    color: white;
    margin-top: 20px;
    border-radius: 20px;

}





/* ? Mobile design */

@media only screen and (max-width: 600px) {
    .general-div{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .general-div .result-part {
        width: 100%;
        height: 40%;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }

    .general-div .result-part .circle{
        display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin: 20px 120px;
    padding: 20px;
    }


    .general-div .result-part .first-p{
        margin-top: 20px;
    }

    .general-div .result-part .second-p{
        margin: 0 40px;
        font-size: 18px;
    }


    .general-div .summary-part{
        height: auto;
        width: 100%;
    }

    .general-div .summary-part .percents{
        display: flex;
        width: 100%;
        margin: 20px 0;
    }

    .general-div .summary-part .btn{
        padding: 17px;
        border-radius: 30px;
        font-size: 18px;
    }




}